<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Adventure Bootstrap Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--

    Template 2078 Adventure

    http://www.tooplate.com/view/2078-adventure

    -->
    <!-- Bootstrap CSS
   ================================================== -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <!-- Animate CSS
   ================================================== -->
    <link rel="stylesheet" href="stylesheets/animate.min.css">

    <!-- Font Icons
   ================================================== -->
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/et-line-font.css">

    <!-- Nivo Lightbox CSS
   ================================================== -->
    <link rel="stylesheet" href="stylesheets/nivo-lightbox.css">
    <link rel="stylesheet" href="stylesheets/nivo_themes/default/default.css">

    <!-- Owl Carousel CSS
   ================================================== -->
    <link rel="stylesheet" href="stylesheets/owl.theme.css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.css">

    <!-- BxSlider CSS
   ================================================== -->
    <link rel="stylesheet" href="stylesheets/bxslider.css">

    <!-- Main CSS
    ================================================== -->
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Google web font
   ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>

</head>