extends layout

block content
  section.preloader
    div.sk-rotating-plane
  section(class="navbar navbar-fixed-top custom-navbar" role="navigation")
    div.container
      div.navbar-header
              button(class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
              -var x= 2;
              - for (var i=0; i<=x; i++) {
                  span.icon.icon-bar
              - }
              a(class="smoothScroll navbar-brand",href="#home") ADVENTURE
      div(class="collapse navbar-collapse")
        ul(class="nav navbar-nav navbar-right")
          li(class="smoothScroll",href="#work") WORK
          li(class="smoothScroll",href="#about") ABOUT
          li(class="smoothScroll",href="#team") TEAM
          li(class="smoothScroll",href="#portfolio") GALLERY
          li(class="smoothScroll",href="#plans") PLANS
          li(class="smoothScroll",href="#contact") CONTACT

