doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport',content='width=device-width, initial-scale=1')
  body(data-spy='scroll', data-target='.navbar-collapse', data-offset='50')
    block content
  script(src='components/jquery/dist/jquery.min.js')
  script(src='components/bootstrap/dist/js/bootstrap.min.js')
